html, body {
  
  
  font-family: monospace;
  
  background: linear-gradient(120DEG,#1DB954,#808080);
  
  font-size: 30px;
  
}

h1{
  text-align: center;
}
mark{
  background-color: green;
  color: white;
}
