html, body {
  
  
  font-family: monospace;
  
  background: linear-gradient(120DEG,#1DB954,#808080);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
  
  font-size: 20px;
  
  
  
}

h1{
  text-align: center;
}
mark{
  background-color: green;
  color: white;
}
img{
  max-width: 100%;
  height: auto;
  border: 5px groove #555;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

